@charset "utf-8";
/* CSS Document */

body {
    background-image: url("Images/VansPrint.jpg");
}
#wrap {
    width: 1024px;
    height: 860px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}
header {
    width: auto;
    height: 80px;
    background-color: firebrick;
    padding: 20px;
}
#logo {
    width: 164px;
    height: 80px;
    float: left;
}
#photo {
    margin-top: 30px;
    width: auto;
    height: 250px;
    background-image: url(Images/GEAR2.png);
    background-size: cover;
    background-position: 0px -356px;
	color: white;
	font-family: 'Poppins', sans-serif;
}
#title{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.86;
	text-align: center;
	font-size: 10.5em;
}
#point1 {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    background-color: #1D3343;
    width: 288px;
    height: 380px;
}
#point2 {
    margin-top: 40px;
    margin-left: 40px;
    background-color: #1D3343;
    width: 288px;
    height: 380px;
    float: left;
}
#point3 {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #1D3343;
    width: 288px;
    height: 380px;
}
#about {
    float: left;
    margin: 40px;
    background-color: #1D3343;
    width: 944px;
    height: 380px;
	font-size: 110%
}
p{
	margin: 40px;
}
h1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
p {
    color: white;
    margin: 20px;
}
footer {
    width: 1024px;
    height: 60px;
    background-color: firebrick;
    margin: auto;
}
#insta {
    width: 80px;
    height: 60px;
    margin: auto;
}
ul {
    list-style-type: none;
    margin: 14px;
    padding: 0;
    float: right;
    overflow: hidden;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
li {
    display: inline;
    float: left
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
li a.active {
    background-color: aqua;
    color: white;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* Desktops */
@media (min-width : 1049px ) {
}

/* Tablets */
@media (min-width : 965px ) and ( max-width : 1048px ) {
#wrap {
    width: 75%;
    height: 1305px;
}
#logo {
    margin: auto;
}
#photo {
    background-position: center;
    background-repeat: no-repeat;
}
main {
    width: 100%;
    background-color: #625B9C;
}
main {
    margin: 40px;
    width: auto;
}
#point1 {

}
#point2 {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
#point3 {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    margin: auto;
}
	#about{
	width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
	}
	p{
		margin:40px;
	}
footer {
    width: 75%;
}
}

/* IPhone 7 Plus Landscape and Tablat Portrait */
@media (min-width : 709px ) and ( max-width : 964px ) {
#wrap {
    width: 75%;
    height: 1365px;
}
header {
    width: auto;
    height: 140px;
    background-color: firebrick;
    margin: auto;
}
#logo {
    width: 164px;
    height: 80px;
    margin-bottom: 14px;
}
#photo {
    background-position: center;
    background-repeat: no-repeat;
}
main {
    margin: 40px;
    width: auto;
}
#point1 {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
#point2 {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
#point3 {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    margin: auto;
}
footer {
    width: 75%;
}
li {
}
li a {
    display: inline-block;
}
ul {
    width: 100%;
    float: left;
    margin: auto;
}
}

/* IPhone 7 Plus Portrait */
@media (max-width : 708px ) {
li {
    float: none;
}
li a {
    display: block;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    float: left;
    width: 100%;
}
#wrap {
    width: 90%;
    background-color: transparent;
}
header {
    height: 364px;
}
#logo {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}
#photo {
    background-position: center;
    background-repeat: no-repeat;
}
main {
    margin: 40px;
    width: auto;
}
#point1 {
    width: 100%;
    height: 20%;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
#point2 {
    width: 100%;
    height: 20%;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
#point3 {
    width: 100%;
    height: 20%;
    margin: auto;
    margin-bottom: 20px;
}
#photo {
    visibility: hidden;
    margin-bottom: -291px;
}
footer {
    width: 90%;
    clear: both;
}
}
