@charset "utf-8";
/* CSS Document */
body {
    background-image: url("Images/VansPrint.jpg");
}
#wrap {
    width: 1024px;
    height: 860px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}
header {
    width: auto;
    height: 80px;
    background-color: firebrick;
    padding: 20px;
}
#photo {
    margin-top: 30px;
    width: auto;
    height: 250px;
    background-image: url(Images/GEAR2.png);
    background-size: cover;
    background-position: 0px -356px;
}
#point1 {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    background-color: #1D3343;
    width: 288px;
    height: 380px;
}
#point2 {
    margin-top: 40px;
    margin-left: 40px;
    background-color: #1D3343;
    width: 288px;
    height: 380px;
    float: left;
}
#point3 {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #1D3343;
    width: 288px;
    height: 380px;
}
h1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
p {
    color: white;
    margin: 20px;
}
footer {
    width: 1024px;
    height: 60px;
    background-color: firebrick;
    margin: auto;
}
#insta{
	width: 80px;
	height:60px;
	margin: auto;
}
ul {
    list-style-type: none;
    margin: 14px;
    padding: 0;
    float: right;
    overflow: hidden;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
li {
    display: inline;
    float: left
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
li a.active {
    background-color: aqua;
    color: white;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
